<!-- ./cli/medperf/web-ui/templates/mlcube/mlcubes.html -->
{% extends "base.html" %}

{% block title %}MLCubes{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <a class="btn btn-primary my-4" href="/mlcubes/submit/compatibility_test">
                Test a Model Compatibility
            </a>
        </div>
        <div class="col-12">
            <a class="btn btn-primary my-4" href="/mlcubes/submit/ui">
                Register a New MLCube
            </a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <h1 class="my-4">MLCubes</h1>
            <div class="form-check form-switch ms-5">
                <input
                    class="form-check-input fs-5"
                    type="checkbox"
                    role="switch"
                    id="switch"
                    onchange="getMLCubes()"
                    {% if mine_only %}
                    checked
                    {% endif %}
                >
                <label class="form-check-label fs-5" for="switch">Mine Only</label>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        {% for mlcube in mlcubes %}
        <div class="col-md-4 mb-4">
            <div class="{% if mlcube.is_valid %}card{% else %}invalid-card{% endif %}">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/mlcubes/ui/display/{{ mlcube.id }}" class="text-primary">{{ mlcube.name }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ mlcube.state }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Is valid: {{ mlcube.is_valid }}</h6>
                    <p class="card-text">
                        <a href="{{ mlcube.git_mlcube_url }}" target="_blank" class="text-primary">Config File</a>
                    </p>
                    <p class="card-text">
                        <small class="text-muted" data-date="{{ mlcube.created_at }}"></small>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Registered: {{ mlcube.is_registered }}</small>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="/static/js/app.js"></script>
{% endblock %}
