<!-- ./cli/medperf/web-ui/templates/mlcube/mlcube_submit.html -->
{% extends "base.html" %}

{% block title %}Register MLCube{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Register a New MLCube</h1>
    <div class="text-center fs-5 mt-4">
        If you are a model owner submitting a model MLCube to participate in a benchmark,<br> It is <strong>recommended</strong>
        to run the <a href="/mlcubes/submit/compatibility_test">compatibility test</a> before submission.
    </div>

    <form class="mt-5" id="submit-form">
        <div class="form-step">
            <div class="form-group my-5">
                <label for="name" class="form-label h4">MLCube Name</label>
                <input name="name" class="form-control" type="text" id="name" onkeyup="checkSubmit()">
            </div>
            <div class="form-group my-5">
                <label for="mlcube_file" class="form-label h4">MLCube manifest File</label>
                <input name="mlcube_file" class="form-control" type="text" id="mlcube_file" onkeyup="checkSubmit()">
            </div>
            <div class="form-group my-5">
                <label for="parameters_file" class="form-label h4">Parameters File</label>
                <input name="parameters_file" class="form-control" type="text" id="parameters_file" onkeyup="checkSubmit()">
            </div>
            <div class="form-group my-5">
                <label for="additional_file" class="form-label h4">Additional Files</label>
                <input name="additional_file" class="form-control" type="text" id="additional_file" onkeyup="checkSubmit()">
            </div>
            <div class="text-center mt-4">
                <button id="submit-btn" type="button" class="btn btn-success mx-3" onclick="submitMLCube()" disabled>
                    Submit
                </button>
            </div>
        </div>
    </form>

    <div id="panel" class="my-5" style="display: none;">
        <h2 id="panel-title"></h2>
    
        <div class="stages">
            <ul class="list-group mb-3" id="stages-list"></ul>
        </div>
    
        <div class="card mt-5">
            <div class="card-body">
                <pre id="log-panel" style="height: 300px; overflow-y: scroll; background-color: #f8f9fa; padding: 15px;"></pre>
            </div>
        </div>
    </div>
    
    <div id="text-content" style="display: none;">
        <div id="content"></div>
    </div>
    <div id="yaml-div" style="display: none;">
        <pre id="yaml-content" style="background-color: #f8f9fa; padding: 15px; border-radius: 4px;"></pre>
    </div>
    <div id="prompt-div" class="my-5" style="display: none;">
        <div id="prompt-text"></div>
        <div class="text-center mt-5">
            <button type="button" class="btn btn-danger mx-3" onclick="respond_no();">No</button>
            <button type="button" class="btn btn-success mx-3" onclick="respond_yes();">Yes</button>
        </div>
    </div>
</div>

<script>
</script>
<script src="/static/js/event_handler.js"></script>
<script src="/static/js/app.js"></script>
{% endblock %}
