{# ./cli/medperf/web_ui/templates/constants/tooltips.html #}

{# Tooltips for benchmarks pages #}
{% set workflow_test_data_preparation_container = "Relative or absolute path of the data preparation container" %}
{% set workflow_test_reference_model_path = "Relative or absolute path of the reference model" %}
{% set workflow_test_metrics_container_path = "Relative or absolute path of the metrics container" %}
{% set workflow_test_reference_dataset_data_path = "Relative or absolute path of the reference dataset data folder" %}
{% set workflow_test_reference_dataset_labels_path = "Relative or absolute path of the reference dataset labels folder" %}

{% set register_benchmark_name = "Name of the benchmark you are registering" %}
{% set register_benchmark_description = "Description of the benchmark you are registering" %}
{% set register_benchmark_reference_dataset_tarball_url = "Full URL of the reference dataset tarball" %}
{% set register_benchmark_data_preparation_container_id = "ID of the data preparation container" %}
{% set register_benchmark_reference_model_id = "ID of the reference model" %}
{% set register_benchmark_metrics_container_id = "ID of the metrics container" %}

{# Tooltips for datasets pages #}
{% set register_dataset_name = "Name of the dataset you are registering" %}
{% set register_dataset_description = "Description of the dataset you are registering" %}
{% set register_dataset_location = "Location of the dataset you are registering" %}

{# Tooltips for containers pages #}
{% set compatibility_test_container_path = "Relative or absolute path of the container you want to test" %}

{% set register_container_name = "Name of the container you are registering" %}
{% set register_container_manifest_file = "Relative or absolute path of the manifest file for the container you are registering" %}
{% set register_container_parameters_file = "Relative or absolute path of the parameters file for the container you are registering" %}
{% set register_container_additional_file = "Relative or absolute path of the additional file for the container you are registering" %}