:root, [data-md-color-scheme=default] {
  --md-card-bg-color: rgb(255, 255, 255);
  --md-card-box-shadow: 0 10px 20px #282a3017;
  --md-card-border-color: rgba(0, 0, 0, 0.147);
  --md-white-color: rgb(255, 255, 255);
}

:root, [data-md-color-scheme=slate] {
  --md-card-bg-color: rgba(90, 90, 90, 0.512);
  --md-card-box-shadow: 0 10px 20px rgba(210, 210, 210, 0.315);
  --md-card-border-color: rgba(83, 83, 83, 0.581);
  --md-white-color: rgb(255, 255, 255);
}

.side-container {
  width: 720px;
  height: fit-content;
  position: fixed;
  right: -45px;
  top: 100px;
  background-color: transparent;
}

#side-container img {
  width: 100%;
  height: 100%;
}

.md-grid {
  margin-left: 175px !important;
}

.md-content__inner {
  margin-right: 240px;
  margin-bottom: 610px;
}

.md-header__inner {
  max-width: 70rem !important;
}

.md-nav__title {
  text-transform: uppercase;
  margin-left: 0 !important;
}

.md-nav__link {
  margin-left: 15px;
}

#__nav_6_label, #__nav_5_label {
  margin-left: 0 !important;
}

.tutorial_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.tutorial_card {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: fit-content;
  text-decoration: none;
  color: #333;
  display: block;
  background-color: var(--md-card-bg-color);
  border: 1px solid var(--md-card-border-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 16px;
  transition: all 0.3s ease, border 0.1s ease;
  flex: 1;
  align-self: stretch;
}

.tutorial_card:hover {
  border: 1px solid transparent;
  box-shadow: var(--md-card-box-shadow);
  text-decoration: none;
  transform: translateY(-2px);
  /* color: var(--md-primary-fg-color) !important; */
}

.tutorial_card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
}

.tutorial_card p {
  margin: 0;
}

.md-header__ellipsis {
  justify-content: space-around;
}

.header_home_btn {
  background-color: transparent;
  top: 10px;
  margin: 0;
  margin-left: 215px;
  font-size: 16px;
}

.md-header__topic {
  font-weight: 700;
}