site_name: MedPerf
site_url: https://medperf.com/
repo_url: https://github.com/mlcommons/medperf
repo_name: mlcommons/medperf
nav:
- Introduction: index.md
- Benchmark Roles: roles.md
- Benchmark Workflow: workflow.md
- The Software: medperf_components.md
- Getting Started:
  - Overview: getting_started/overview.md
  - Installing MedPerf: getting_started/installation.md
  - Tutorials Setup: getting_started/setup.md
  - Hands-on Tutorial for Bechmark Committee: getting_started/benchmark_owner_demo.md
  - Hands-on Tutorial for Model Owners: getting_started/model_owner_demo.md
  - Hands-on Tutorial for Data Owners: getting_started/data_owner_demo.md
- MedPerf MLCubes: 
  - Introduction: mlcubes/mlcubes.md
  - Creating Data Preparator MLCubes from Scratch: mlcubes/mlcube_data.md
  - Creating Model MLCubes from Scratch: mlcubes/mlcube_models.md
  - Creating Metrics MLCubes from Scratch: mlcubes/mlcube_metrics.md
  - Creating Model MLCubes from GaNDLF: mlcubes/gandlf_mlcube.md

- Concepts:
  - MedPerf Account: concepts/accounts.md
  - Client Configuration: concepts/profiles.md
  - MLCube Components: concepts/mlcube_files.md
  - Hosting Files: concepts/hosting_files.md
  - Benchmark Associations: concepts/associations.md
  - Model Priority: concepts/priorities.md
  - Running Specific Models: concepts/single_run.md
- CLI Reference: cli_reference.md
- Code Reference: reference/
theme: 
  features:
    - search.suggest
    - search.highlight
    - search.share
    - content.code.annotate
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  name: material
  logo: assets/logo.png
  palette:
    - media: "(prefers-color-scheme: light)" 
      scheme: default
      primary: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)" 
      scheme: slate
      primary: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode


plugins:
  - search
  - macros
  - mkdocstrings:
      watch:
        - cli/medperf
        # - server
      handlers:
        python:
          paths: [cli/medperf]
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
      
extra:
  analytics:
    provider: google
    property: G-QNE8JMYY88
    
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/thumb-up-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/thumb-down-outline
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback! Help us improve this page by
            using our <a href="https://github.com/mlcommons/medperf/issues/new?title=[Feedback]+{title}+-+{url}" target="_blank" rel="noopener">feedback form</a>.

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: True
  - attr_list