<!-- Modal for approve/reject confirmation -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmTitle"></h5>
            </div>
            <div class="modal-body">
                <p id="confirmText" class="fs-5"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button
                    id="confirmation-btn"
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                >Confirm</button>
            </div>
        </div>
    </div>
</div>