<footer class="container-fluid p-5" style="background-color: #F2F2F2; position:absolute; bottom:0;">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column justify-content-end ps-0 ps-md-5">
            <img alt="MedPerf Logo" src="{{ url_for('static', path='images/medperf_logo.svg') }}" style="width: 100px; height: 41px">
            <span class="text-muted">
                Powered by <a href="https://mlcommons.org" class="text-muted">ML Commons</a>
            </span>
        </div>
        <div class="text-black d-flex flex-column justify-content-end pe-0 pe-md-5">
            <span>© 2020 – 2025 MLCommons</span>
            <a href="https://mlcommons.org/en/policies/" target="_blank" rel="noreferrer" class="text-black">Privacy Policy</a>
        </div>
    </div>
</footer>