methodtools==0.4.7
apache-airflow==3.0.1
apache-airflow-task-sdk==1.0.1
apache-airflow-providers-singularity==3.8.0
apache-airflow-providers-docker==4.4.0
apache-airflow-providers-fab==2.0.2
psycopg2-binary==2.9.9
asyncpg==0.30.0