typer~=0.6.0
rich~=12.5.0
PyYAML>=5.4,<6
requests>=2.26.0
pydantic==1.10.2
yaspin==2.1.0
tabulate==0.8.9
pexpect==4.8.0
colorama==0.4.4
time-machine==2.4.0
pytest-mock==1.13.0
pyfakefs==5.0.0
mlcube==0.0.9
mlcube-docker==0.0.9
mlcube-singularity==0.0.9
validators==0.18.2
merge-args==0.1.4
synapseclient==2.7.0
deepdiff==6.3.0
schema==0.7.5
