container_type: DockerImage
image: mlcommons/fl-test-prep:0.0.1
tasks:
  prepare:
    run_args:
      command: python3 /project/entrypoint.py prepare
    input_volumes:
      data_path:
        mount_path: /mlcommons/volumes/raw_data
        type: directory
      labels_path:
        mount_path: /mlcommons/volumes/raw_labels
        type: directory
    output_volumes:
      output_path:
        mount_path: /mlcommons/volumes/data
        type: directory
      output_labels_path:
        mount_path: /mlcommons/volumes/labels
        type: directory
  sanity_check:
    run_args:
      command: python3 /project/entrypoint.py sanity_check
    input_volumes:
      data_path:
        mount_path: /mlcommons/volumes/data
        type: directory
      labels_path:
        mount_path: /mlcommons/volumes/labels
        type: directory
  statistics:
    run_args:
      command: python3 /project/entrypoint.py statistics
    input_volumes:
      data_path:
        mount_path: /mlcommons/volumes/data
        type: directory
      labels_path:
        mount_path: /mlcommons/volumes/labels
        type: directory
    output_volumes:
      output_path:
        mount_path: /mlcommons/volumes/statistics/statistics.yaml
        type: file
