<!-- ./cli/medperf/web-ui/templates/mlcube_detail.html -->
{% extends "base.html" %}

{% block title %}MLCube Details{% endblock %}

{% block content %}
<style>
    .card-body.d-flex {
    flex-wrap: wrap;
}

.card-text {
    word-wrap: break-word;
    white-space: normal;
}
</style>
<h1 class="my-4">{{ mlcube.name }}</h1>
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title mb-0">Details</h5>
            <span class="badge {% if mlcube.state == 'OPERATION' %}badge-success{% else %}badge-danger{% endif %}">
                {{ mlcube.state }}
            </span>
        </div>
        <div class="form-group">
            <label for="url-type" class="font-weight-bold">URL Type</label>
            <div id="url-type" class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="urlType" id="yamlFiles" value="yaml" checked>
                <label class="form-check-label" for="yamlFiles">YAML files</label>
            </div>
            <div id="url-type" class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="urlType" id="imageTarball" value="tarball">
                <label class="form-check-label" for="imageTarball">Image tarball</label>
            </div>
        </div>
        <div id="yamlFilesUrls">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text"><strong>MLCube:</strong> <a href="{{ mlcube.git_mlcube_url }}" class="text-primary yaml-link" target="_blank">{{ mlcube.git_mlcube_url }}</a></p>
                    <p class="card-text text-muted small">{{ mlcube.mlcube_hash }}</p>
                    <p class="card-text"><strong>Parameters:</strong> <a href="{{ mlcube.git_parameters_url }}" class="text-primary yaml-link" target="_blank">{{ mlcube.git_parameters_url }}</a></p>
                    <p class="card-text text-muted small">{{ mlcube.parameters_hash }}</p>
                </div>
            </div>
        </div>
        <div id="imageTarballUrls" style="display: none;">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text"><strong>Image Tarball:</strong> <a href="{{ mlcube.image_tarball_url }}" class="text-primary" target="_blank">{{ mlcube.image_tarball_url }}</a></p>
                    <p class="card-text text-muted small">{{ mlcube.image_tarball_hash }}</p>
                    <p class="card-text"><strong>Additional Files:</strong> <a href="{{ mlcube.additional_files_tarball_url }}" class="text-primary" target="_blank">{{ mlcube.additional_files_tarball_url }}</a></p>
                    <p class="card-text text-muted small">{{ mlcube.additional_files_tarball_hash }}</p>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-between flex-wrap">
                <div class="w-50">
                    <p class="card-text"><strong>Image Hash:</strong> <span class="text-muted small">{{ mlcube.image_hash }}</span></p>
                    <p class="card-text"><i class="fas fa-user"></i> <span class="text-muted small">{{ mlcube.owner }}</span></p>
                </div>
                <div class="text-right w-50">
                    <p class="card-text"><strong>Created:</strong> <span class="text-muted small" id="created-at">{{ mlcube.created_at }}</span></p>
                    <p class="card-text"><strong>Modified:</strong> <span class="text-muted small" id="modified-at">{{ mlcube.modified_at }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('yamlFiles').addEventListener('click', function() {
        document.getElementById('yamlFilesUrls').style.display = 'block';
        document.getElementById('imageTarballUrls').style.display = 'none';
    });
    document.getElementById('imageTarball').addEventListener('click', function() {
        document.getElementById('yamlFilesUrls').style.display = 'none';
        document.getElementById('imageTarballUrls').style.display = 'block';
    });

    function formatDate(dateString) {
        const date = new Date(dateString);
        const now = new Date();
        const options = { weekday: 'short', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', timeZoneName: 'short' };
        if (date.getFullYear() !== now.getFullYear()) {
            options.year = 'numeric';
        }
        return date.toLocaleDateString(undefined, options);
    }

    document.addEventListener('DOMContentLoaded', function() {
        const createdAt = document.getElementById('created-at');
        const modifiedAt = document.getElementById('modified-at');
        createdAt.textContent = formatDate(createdAt.textContent);
        modifiedAt.textContent = formatDate(modifiedAt.textContent);

        $('.yaml-link').on('click', function(event) {
            event.preventDefault();
            const url = $(this).attr('href');
            $('#yaml-content').show();
            $('#loading-indicator').show();
            $('#yaml-code').hide();
            $.get('/fetch-yaml', { url: url }, function(data) {
                $('#yaml-code').text(data.content);
                Prism.highlightElement($('#yaml-code')[0]);
                $('#loading-indicator').hide();
                $('#yaml-code').show();
            }).fail(function() {
                $('#yaml-code').text('Failed to load content');
                $('#loading-indicator').hide();
                $('#yaml-code').show();
            });
        });
    });
</script>
{% endblock %}
