<!-- ./cli/medperf/web-ui/templates/mlcube_macros.html -->
{% macro mlcube_link(mlcube) %}
<span class="mlcube-link {% if not mlcube.is_valid %}invalid-card{% endif %} d-inline-flex align-items-center p-1 mb-2 flex-grow-1">
    <strong><a href="/mlcubes/ui/{{ mlcube.id }}" class="text-primary">{{ mlcube.name }}</a></strong>
    <small class="text-muted ml-2" data-date="{{ mlcube.modified_at }}"></small>
    <span class="ml-2">
        {% if mlcube.state == 'OPERATION' %}
            <i class="fas fa-check-circle text-success"></i>
        {% else %}
            <i class="fas fa-exclamation-circle text-warning"></i>
        {% endif %}
    </span>
</span>
{% endmacro %}