{# ./cli/medperf/web_ui/templates/security_check.html #}

{% extends "base.html" %}

{% block title %}Security Check{% endblock %}

{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="text-center mb-4">Security Check</h2>

                <!-- Error message (if any) -->
                {% if error %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ error }}
                    </div>
                {% endif %}

                <!-- Security Check form -->
                <form id="security-check-form" method="POST" action="/security_check">
                    <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
                    <div class="form-group">
                        <label for="token" class="form-label h5">Enter your Security Token printed in MedPerf CLI output</label>
                        <input type="text" id="token" name="token" class="form-control mt-3" placeholder="security token" required>
                    </div>
                    <div class="text-center mt-4">
                        <button id="security-check-btn" type="button" class="btn btn-primary">Access Web UI</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(() => {
        $("#security-check-btn").on("click", (e) => {
            e.currentTarget.setAttribute("disabled", true);
            $("#security-check-form")[0].submit();
        });
    });
</script>
{% endblock extra_js %}