{# ./cli/medperf/web_ui/templates/security_check.html #}

{% extends "base.html" %}

{% block title %}Security Check{% endblock %}

{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="text-center mb-4">Security Check</h2>

                <!-- Error message (if any) -->
                {% if error %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ error }}
                    </div>
                {% endif %}

                <!-- Security Check form -->
                <form id="security-check-form" method="POST" action="/security_check">
                    <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
                    <div class="form-group">
                        <label for="token" class="form-label h5">Enter your Security Token printed in MedPerf CLI output</label>
                        <input type="text" id="token" name="token" class="form-control mt-3" placeholder="security token" required>
                    </div>
                    <div class="text-center mt-4">
                        <button id="security-check-btn" type="button" class="btn btn-primary">Access Web UI</button>
                    </div>
                </form>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#security-check-modal">
                        Why is this required?
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ modal_macros.add_modal(
    modal_id="security-check-modal",
    modal_class="modal-lg",
    modal_body='<p class="fs-5">This token is a simple way to make sure that only the person who started the app, can access this page.<br><br>
        When the app starts, it shows a one-time code (the security token) in the terminal. You just copy that code and paste it here.<br><br>
        It is a safety step to prevent other users on the same computer from seeing your data or using the app without permission.</p>',
    modal_footer=True,
    close_button='<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>',
) }}
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(() => {
        $("#security-check-btn").on("click", (e) => {
            e.currentTarget.setAttribute("disabled", true);
            $("#security-check-form")[0].submit();
        });
    });
</script>
{% endblock extra_js %}