container_type: DockerImage
image: mlcommons/data-prep-manual:0.0.1
tasks:
  prepare:
    input_volumes:
      data_path:
        mount_path: /mlcommons/volumes/raw_data
        type: directory
      labels_path:
        mount_path: /mlcommons/volumes/raw_labels
        type: directory
    output_volumes:
      output_path:
        mount_path: /mlcommons/volumes/data
        type: directory
      output_labels_path:
        mount_path: /mlcommons/volumes/labels
        type: directory
      metadata_path:
        mount_path: /mlcommons/volumes/metadata
        type: directory
      report_file:
        mount_path: /mlcommons/volumes/report/report.yaml
        type: file
    run_args:
      command: python3 /project/prepare.py
  sanity_check:
    run_args:
      command: python3 /project/sanity_check.py
    input_volumes:
      data_path:
        mount_path: /mlcommons/volumes/data
        type: directory
      labels_path:
        mount_path: /mlcommons/volumes/labels
        type: directory
  statistics:
    run_args:
      command: python3 /project/statistics.py
    input_volumes:
      data_path:
        mount_path: /mlcommons/volumes/data
        type: directory
      labels_path:
        mount_path: /mlcommons/volumes/labels
        type: directory
      metadata_path:
        mount_path: /mlcommons/volumes/metadata
        type: directory
    output_volumes:
      output_path:
        mount_path: /mlcommons/volumes/statistics/statistics.yaml
        type: file
