<!-- ./cli/medperf/web-ui/templates/container/register_container.html -->
{% import "constants/forms_placeholders.html" as placeholders %}
{% import "constants/tooltips.html" as tooltips %}

{% extends "base.html" %}

{% block title %}Register Container{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Register a New Container</h1>
    <div class="text-center fs-5 mt-4">
        If you are a model owner registering a model container to participate in a benchmark,<br> It is <strong>recommended</strong>
        to run the <a href="/containers/register/compatibility_test">compatibility test</a> before submission.
    </div>

    <form class="mt-5" id="register-form">
        <div class="form-step">
            <div class="form-group my-5">
                <label for="name" class="form-label h4">Container name</label>
                <div class="input-group">
                    <input
                        name="name"
                        class="form-control"
                        type="text"
                        id="name"
                        onkeyup="checkRegister()"
                        placeholder="{{ placeholders.register_container_name }}"
                    >
                    <i
                        class="tooltip-info input-group-text fa fa-info-circle fs-4"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-title="{{ tooltips.register_container_name }}"
                    ></i>
                </div>
            </div>
            <div class="form-group my-5">
                <label for="container_file" class="form-label h4">Container manifest file</label>
                <div class="input-group">
                    <input
                        name="container_file"
                        class="form-control"
                        type="text"
                        id="container_file"
                        onkeyup="checkRegister()"
                        placeholder="{{ placeholders.register_container_manifest_file }}"
                    >
                    <i
                        class="tooltip-info input-group-text fa fa-info-circle fs-4"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-title="{{ tooltips.register_container_manifest_file }}"
                    ></i>
                </div>
            </div>
            <div class="form-group my-5">
                <label for="parameters_file" class="form-label h4">Parameters File</label>
                <div class="input-group">
                    <input
                        name="parameters_file"
                        class="form-control"
                        type="text"
                        id="parameters_file"
                        onkeyup="checkRegister()"
                        placeholder="{{ placeholders.register_container_parameters_file }}"
                    >
                    <i
                        class="tooltip-info input-group-text fa fa-info-circle fs-4"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-title="{{ tooltips.register_container_parameters_file }}"
                    ></i>
                </div>
            </div>
            <div class="form-group my-5">
                <label for="additional_file" class="form-label h4">Additional Files</label>
                <div class="input-group">
                    <input
                        name="additional_file"
                        class="form-control"
                        type="text"
                        id="additional_file"
                        onkeyup="checkRegister()"
                        placeholder="{{ placeholders.register_container_additional_file }}"
                    >
                    <i
                        class="tooltip-info input-group-text fa fa-info-circle fs-4"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-title="{{ tooltips.register_container_additional_file }}"
                    ></i>
                </div>
            </div>
            <div class="text-center mt-4">
                <button id="register-btn" type="button" class="btn btn-success mx-3" onclick="registerContainer()" disabled>
                    Register
                </button>
            </div>
        </div>
    </form>

    <div id="panel" class="my-5" style="display: none;">
        <h2 id="panel-title"></h2>
    
        <div class="stages">
            <ul class="list-group mb-3" id="stages-list"></ul>
        </div>
    
        <div class="card mt-5">
            <div class="card-body">
                <pre id="log-panel" style="height: 300px; overflow-y: scroll; background-color: #f8f9fa; padding: 15px;"></pre>
            </div>
        </div>
    </div>
    
    <div id="text-content" style="display: none;">
        <div id="content"></div>
    </div>
    <div id="yaml-div" style="display: none;">
        <pre id="yaml-content" style="background-color: #f8f9fa; padding: 15px; border-radius: 4px;"></pre>
    </div>
    <div id="prompt-div" class="my-5" style="display: none;">
        <div id="prompt-text"></div>
        <div class="text-center mt-5">
            <button type="button" class="btn btn-danger mx-3" onclick="respond_no();">No</button>
            <button type="button" class="btn btn-success mx-3" onclick="respond_yes();">Yes</button>
        </div>
    </div>
</div>

<script>
</script>
<script src="/static/js/event_handler.js"></script>
<script src="/static/js/app.js"></script>

{% if task_running and request.app.state.task["name"] == "container_register" %}
<script>
    function processOldEvents(logPanel, stagesList, currentStageElement, task_id){
        {{ request.app.state.task["logs"] | tojson }}.forEach(log => {
            currentStageElement = handleEvents(log, logPanel, stagesList, currentStageElement, task_id);
        });
        return currentStageElement;
    }
    task_id = "{{ request.app.state.task['id'] }}";
    document.addEventListener("DOMContentLoaded", () => {
        const input_elements = document.querySelectorAll("#register-form input");
        input_elements.forEach(element => {
            element.setAttribute("disabled", true);
        });
        showPanel(`Registering Model...`);
        currentStageElement = processOldEvents(logPanel, stagesList, currentStageElement, task_id);
        getEvents(logPanel, stagesList, currentStageElement, task_id).then(last_log => {
            let response = last_log.response;
            markAllStagesAsComplete();
            if(response.status === "success"){
                showReloadModal("Model Registered Successfully");
                timer(3, url="/containers/ui/display/"+response.container_id);
            }
            else{
                $("#errorModalLabel").html("Failed to Register Model");
                $("#errorText").html(response.error);
                const errorModal = new bootstrap.Modal('#errorModal', {
                    keyboard: false,
                    backdrop: "static"
                });
                errorModal.show();
            }
        });
    });
</script>
{% endif %}
{% endblock %}