{# ./cli/medperf/web_ui/templates/macros/gcp_asset_macro.html #}

{% macro gcp_asset(defaults, configured, entity_id, entity_type, task_running=false) %}
{% set fields = [
("project_id", "GCP Project ID"),
("project_number", "GCP Project Number"),
("bucket", "GCP Bucket Name"),
("keyring_name", "GCP KMS Keyring Name"),
("key_name", "GCP KMS Key Name"),
("key_location", "GCP KMS Key Location"),
("wip", "GCP Workload Identity Pool Name"),
] %}
<div id="edit-cc-asset-container">
    <form id="edit-cc-asset-form" class="mt-5">
        <div class="row mb-4">
            <div class="col-12 d-inline-flex justify-content-center">
                <div class="form-check">
                    <input type="checkbox" id="require-cc" name="require_cc" class="form-check-input" {% if configured
                        %}checked{% endif %} {% if task_running %}disabled{% endif %}>
                    <label class="form-check-label h5" for="require-cc">Require Confidential Computing</label>
                </div>
            </div>
        </div>
        <div id="edit-cc-asset-fields">
            {% for field_name, field_label in fields %}
            <div class="row mb-4">
                <label for="cc-{{ field_name }}" class="col-sm-3 col-form-label h5 text-end">{{ field_label }}</label>
                <div class="col-sm-6">
                    <input type="text" id="cc-{{ field_name }}" name="{{ field_name }}" class="form-control"
                        value="{{ defaults.get(field_name, '') }}" {% if task_running %}disabled{% endif %}>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
            <button type="button" id="apply-cc-asset-btn" data-entity-id="{{ entity_id }}"
                data-entity-type="{{ entity_type }}" class="btn btn-primary mb-3" disabled>Apply Changes</button>
        </div>
    </form>
</div>
{% endmacro %}