{# ./cli/medperf/web_ui/templates/macros/model_detail_util_macro.html #}

{% macro container_detail_util(container) %}
<p class="card-text">
    <strong>Container Manifest:</strong> 
    <button
        data-field="Container Config"
        data-yaml-data='{{ container.container_config | tojson }}'
        class="btn btn-link text-primary yaml-link text-decoration-underline m-0 p-0"
        >Click to display Container Configuration
    </button>
</p>
<p class="card-text">
    <strong>Parameters:</strong>
    {% if container.parameters_config is none %} 
    <span>Not Available</span>
    {% else %}
    <button
        data-field="Parameters"
        data-yaml-data='{{ container.parameters_config | tojson }}'
        class="btn btn-link text-primary yaml-link text-decoration-underline m-0 p-0"
        >Click to display Parameters
    </button>
    {% endif %}
</p>
{% if container.additional_files_tarball_url %}
<p class="card-text">
    <strong>Additional Files:</strong> 
    <a
        href="{{ container.additional_files_tarball_url }}"
        class="text-primary"
        target="_blank">Click to Download the File
    </a>
</p>
{% else %}
<p class="card-text">
    <strong>Additional Files:</strong> 
    Not Available
</p>
{% endif %}
{% endmacro %}


{% macro asset_detail_util(asset) %}

<p class="card-text">
    {% if asset._is_local %}
    <strong>This asset is local</strong>
    {% else %}
    <strong>Asset URL:</strong> 
    <a
        href="{{ asset.asset_url }}"
        class="text-primary"
        target="_blank">Click to Download the File
    </a>
    {% endif %}
</p>
<p class="card-text">
    <strong>Asset Hash:</strong> 
    {{ asset.asset_hash }}
</p>
{% endmacro %}
