name: Auth Integration workflow

on: pull_request_target

jobs:
  authorize:
    environment:
      'testing-external-code'
    runs-on: ubuntu-latest
    steps:
      - run: true
  setup:
    needs: authorize
    name: auth-integration-test
    runs-on: ubuntu-latest
    env:
      MOCK_USERS_PASSWORD: ${{ secrets.MEDPERF_MOCK_USERS_PASSWORD }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    
    - name: Setup Chrome
      run: |
        sudo apt-get install -y wget
        wget -O chrome.deb https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_126.0.6478.126-1_amd64.deb
        sudo dpkg -i chrome.deb
        rm chrome.deb

    - name: Install dependencies
      working-directory: .
      run: |
        python -m pip install --upgrade pip
        pip install -e cli/
        pip install -r cli/test-requirements.txt
        pip install -r server/requirements.txt
        pip install -r server/test-requirements.txt

    - name: Set server environment vars
      working-directory: ./server
      run: cp .env.local.online-auth .env

    - name: Run postgresql server in background
      working-directory: ./server
      run: sh run_dev_postgresql.sh && sleep 6

    - name: Run django server in background with generated certs
      working-directory: ./server
      run: sh setup-dev-server.sh & sleep 6

    - name: Run server integration tests
      working-directory: ./server
      run: python seed.py --cert cert.crt --auth online

    - name: Run client integration tests
      working-directory: .
      run: sh cli/auth_tests.sh -f
