name: Integration local workflow

on: pull_request

jobs:
  setup:
    name: local-deploy
    runs-on: ubuntu-latest
    container: 
      image: mlcommons/medperf-tests-container:latest
      options: --privileged --name medperf-tests
      volumes:
        - /tmp:/tmp # To share the directory where the test dataset is downloaded
        - /github/home/.medperf:/github/home/.medperf # To share medperf storage
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f cli/requirements.txt ]; then pip install -e cli; fi
        if [ -f server/requirements.txt ]; then pip install -r server/requirements.txt; fi

    - name: Set server environment vars
      working-directory: ./server
      run: cp .env.example .env

    - name: Run django server in background with generated certs
      working-directory: ./server
      run: sh setup-dev-server.sh & sleep 6

    - name: Run integration tests
      working-directory: ./server
      run: pip install -r test-requirements.txt --user && python seed.py --cert cert.crt

    - name: Run xrv demo
      working-directory: .
      run: sh cli/cli_xrv_demo.sh -f

    - name: Run client integration tests
      working-directory: .
      run: sh cli/cli_tests.sh
