name: Integration local workflow

on: pull_request

jobs:
  setup:
    name: local-deploy
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install Singularity
      # The way we install singularity shouldn't happen inside another git repo, otherwise
      # the singularity installer will set that repo's tag/commit as the singularity version.
      working-directory: ..
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libssl-dev uuid-dev libgpgme11-dev \
            squashfs-tools libseccomp-dev wget pkg-config git cryptsetup debootstrap libglib2.0-dev
        wget https://go.dev/dl/go1.17.11.linux-amd64.tar.gz
        sudo tar --directory=/usr/local -xzvf go1.17.11.linux-amd64.tar.gz
        export PATH=/usr/local/go/bin:$PATH
        wget https://github.com/sylabs/singularity/releases/download/v3.10.0/singularity-ce-3.10.0.tar.gz
        tar -xzvf singularity-ce-3.10.0.tar.gz
        cd singularity-ce-3.10.0
        ./mconfig
        cd builddir
        make
        sudo make install

    - name: Install dependencies
      working-directory: .
      run: |
        python -m pip install --upgrade pip
        pip install -e cli/
        pip install -r cli/test-requirements.txt
        pip install -r server/requirements.txt
        pip install -r server/test-requirements.txt

    - name: Set server environment vars
      working-directory: ./server
      run: cp .env.local.local-auth .env

    - name: Run postgresql server in background
      working-directory: ./server
      run: sh run_dev_postgresql.sh && sleep 6

    - name: Run django server in background with generated certs
      working-directory: ./server
      run: sh setup-dev-server.sh & sleep 6

    - name: Run server integration tests
      working-directory: ./server
      run: python seed.py --cert cert.crt

    - name: Run chestxray demo
      working-directory: .
      run: sh cli/cli_chestxray_tutorial_test.sh -f

    - name: Run chestxray demo with workflow
      working-directory: .
      run: sh cli/cli_chestxray_tutorial_test.sh -f -w

    - name: Run client integration tests
      working-directory: .
      run: sh cli/cli_tests.sh -f

    - name: Run manual preparation integration tests
      working-directory: .
      run: sh cli/cli_test_manual_prep.sh -f